<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
<nav class="navbar222 navbar-inverse navbar-expand-xl navbar-dark" >
	<div class="navbar-header">
		<!-- <a href="/HomePage" style="color: white;"><i class="fa fa-cube"></i>Hello           <b>{{UserName}}</b></a>  		 -->
		<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
			<span class="navbar-toggler-icon"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/HomePage" style="text-decoration-line: none;">
			<h1  style="margin-top:5px ;margin-left: 20px; padding-top: 1px; font-size: 30px; "><span style="color: whitesmoke;"><b>  Akash Shetty & Associates <b style="color: black;"> </b></b></span></h1>

		</a>
		<!-- <a href="/HomePage" style="text-decoration-line: none;">
			<h1  style="margin-top:5px ;margin-left: 20px; padding-top: 1px; font-size: 30px; align-items: center;"><span style="color: whitesmoke;"><b>  Hello  <b style="color: black;">{{UserName}}</b></b></span></h1>

		</a> -->

	</div>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse">		
		<form class="navbar-form form-inline">
			<div class="input-group search-box">								
				<!-- <h1  style="margin-top:0px ;margin-left: 50px; padding-top: 1px; font-size: 20px; align-items: center;"><span style="color: whitesmoke;"><b>  Hello  </b> &nbsp;  <b style="color: black;">  {{UserName}}</b></span></h1> -->

			</div>
		</form>
		<ul class="nav navbar-nav navbar-right" style="color: black;">
			<!-- <li><a  style="color: rgb(252, 248, 248);"><span>{{UserName}}</span></a></li> -->

			<li><a href="/HomePage" style="color: rgb(252, 248, 248);"><i class="fa fa-home"></i><span>Home</span></a></li>
      <li><a href="/Products" style="color: white;"><i class="fa fa-services"></i><span>Services</span></a></li>
      <li><a style="color:whitesmoke;"><mat-icon> facebook </mat-icon></a></li>
      <li><a style="color:whitesmoke;"><mat-icon> linkedin </mat-icon></a></li>

			<!-- <li><a href="/AddProduct"><i class="fa fa-cart-plus"></i><span>Add Product</span></a></li> -->
      <!-- <li><a href="/Cart" style="color: white;" ><i class="fa fa-shopping-cart" ></i><span class="badge">{{finalquantity}}</span></a></li> -->
     
			<!-- <li class="dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle user-action"><img src="https://www.tutorialrepublic.com/examples/images/avatar/3.jpg" class="avatar" alt="Avatar"> Antonio Moreno <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><i class="fa fa-user-o"></i> Profile</li>
					<li><a href="#"><i class="fa fa-calendar-o"></i> Calendar</a></li>
					<li><a href="#"><i class="fa fa-sliders"></i> Settings</a></li>
					<li class="divider"></li>
					<li><a href="#"><i class="material-icons">&#xE8AC;</i> Logout</a></li>
				</ul>
			</li> -->
			<!-- <li><a  style="color: white;" ><i class="fa fa-facebook"></i><mat-icon> facebook </mat-icon></a></li>
			<li><a  style="color: white;" ><mat-icon> Linkedin </mat-icon></a></li> -->
<!-- 
      <li><a style="color: white;" ><i class="fa fa-sign-in"></i><span>login</span></a></li>
			<li><a style="color: white;"  ><i class="fa fa-sign-out"></i><span>logout</span></a></li> -->
		</ul>
    
	</div>
</nav>

<!-- <router-outlet></router-outlet> -->
<app-home-page-css></app-home-page-css>